:root {
  --color-primary: hsla(212, 57%, 18%, 1);
  --color-secondary: hsla(357, 54%, 62%, 1);
  --color-text-dark: hsla(212, 57%, 18%, 0.7);
  --color-text-white: hsla(0, 0%, 100%, 0.7);
  --color-white: hsla(0, 5%, 96%, 1);

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: 1.2rem;
}

/* navbar  */
#navbar {
  margin: 0 9.4rem;
  padding: 1.9rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: 700;
  cursor: pointer;
}

.navbar__link {
  display: flex;
  gap: 100px;
}

.navbar__link a {
  color: var(--color-primary);
  font-weight: 400;
}

.navbar__link a:hover {
  font-weight: 600;
  animation: var(--transition);
}

/* hero */
#hero {
  margin: 0 9.4rem;
  padding: 1.9rem 0;
  display: flex;
  gap: 87px;
  align-items: center;
}

.hero__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.hero__text {
  font-weight: 400;
  line-height: 26px;
  color: var(--color-text-dark);
}

.hero__button {
  padding: 15px 30px 15px 30px;
  background: var(--color-secondary);
  border-radius: 1rem;
}

.hero__button:hover {
  background: var(--color-primary);
  animation: var(--transition);
  cursor: pointer;
}

.hero__button a {
  font-size: 16px;
  color: var(--color-white);
  font-weight: 500;
}

.hero__right {
  padding: 10px 50px;
}

.hero__img {
  width: 400px;
  height: 400px;
}

/* pictures */
#pictures {
  background: var(--color-primary);
  text-align: center;
  color: var(--color-white);
  padding: 1.9rem 0;
}

.pictures__items {
  display: flex;
  margin: 0 9.4rem;
  padding: 1.9rem 0;
  gap: 20px;
}

.pictures__items img {
  width: 270px;
  height: 270px;
  border: 4px solid var(--color-secondary);
  border-radius: 1rem;
}

.pictures__items p {
  text-align: left;
  padding-top: 30px;
  color: var(--color-text-white);
  font-size: 1rem;
}

/* quotes */
#quotes {
  padding: 5rem 8rem;
  color: var(--color-text-dark);
  position: relative;
}

.quotes__content {
  margin: 0 9.4rem;
}

#quotes p {
  font-size: 22px;
  line-height: 38px;
}

.quotes__icon {
  position: absolute;
  width: 5rem;
  height: 61.71px;
  left: 190px;
  top: 43px;
}

p.quotes__author {
  text-align: right;
  color: var(--color-primary);
  font-weight: 600;
}

/* callToAction */
#callToAction {
  margin: 0 9.4rem;
  padding: 40px 0;
}

.callToAction__content {
  display: flex;
  padding: 40px 93px;
  background: var(--color-secondary);
  border-radius: 1rem;
  color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.callToAction__content-left p {
  font-weight: 400;
  color: var(--color-text-white);
}

.callToAction__content-right a {
  border: 2px solid var(--color-white);
  border-radius: 1rem;
  padding: 15px 30px;
  color: var(--color-white);
  font-weight: 500;
}

/* footer */
#footer {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-text-white);
}

#footer p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}